@import "../../style/generalVariables.scss";

.scentCategoryContainer {
	width: 75%;
	margin: auto;
	position: relative;

	// .bgImg {
	// 	width: 100%;
	// 	height: 250px;
	// 	position: absolute;
	// 	mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 0%, rgba(251, 248, 245, 0.6) 100%);

	// 	filter: saturate(60%);
	// 	z-index: -1;
	// }

	.categoryHeader {
		width: 100%;
		height: 350px;
		background: url("/images/scents_categories/banner_sweet_1_lr.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		filter: saturate(40%);
		display: flex;
		margin: auto;

		.categoryTitle {
			width: 90%;
			border: 4px solid $tertiary;
			margin: auto;
			padding: 40px 55px;
			background-color: $secondaryTrans;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			position: relative;
		}
		h1 {
			color: $lightDark;
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			word-spacing: 0.2em;
			margin-bottom: 45px;
		}

		.titleDesc {
			text-align: justify;
		}

		// .titleDesc:before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 100px;
		// 	left: 200px;
		// 	height: 1px;
		// 	width: 450px;
		// 	background-color: $lightDark;
		// }
	}

	.scrollContainer::-webkit-scrollbar {
		display: none;
	}

	.scentWrapper {
		position: relative;
	}

	#scrollContainer {
		display: flex;
		align-items: center;
		width: 100%;
		overflow-x: scroll;
		position: relative;
		margin-top: 50px;
		max-height: 120px;
		//margin-left: 30px;
		scrollbar-width: none;

		.scentItem {
			min-width: 150px;
			height: 100px;
			background-color: $tertiary;
			//margin-right: 50px;
		}

		.separation {
			width: 1px;
			height: 75px;
			background-color: $lightGrey;
			margin: 0 30px;
			flex-shrink: 0;
		}
	}

	.rightArrowContainer,
	.leftArrowContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		z-index: 10;
		width: 30px;
		height: 100%;
		color: $lightDark;
		cursor: pointer;
	}

	.rightArrowContainer {
		right: 0;
	}

	.leftArrowContainer {
		left: 0;
	}

	.directionArrow {
		width: 30px;
		height: 100%;
	}
}
