$primary: #fbf8f5;
$secondary: #f5f0eb;
$secondaryTrans: rgba(245, 240, 235, 0.8);
$tertiary: #baa58d;
$tertiaryTrans: rgba(186, 165, 141, 0.95);

$lightDark: #333132;
$lightGrey: rgba(35, 35, 35, 0.5);
$roseGold: #d49e8d;
$roseGoldTrans: rgba(212, 158, 141, 0.9);

$beige: #f4f1ec;
$test: #e5d2be;
$gold2: #b08401;
$gold: #b19a33;
$brown: #683b2b;
